.footer__list {
  display: flex;
  flex-direction: column;
}

.footer__list_icons {
  display: flex;
  align-items: center;
}

.footer__item:first-child {
  font-size: clamp(16px, 0.936rem + 0.26vw, 20px);
  font-weight: 600;
  line-height: 150%;

  margin-bottom: 10px;
}

.footer__item:not(:first-child) {
  margin-top: 14px;

  color: $colorGrey-60;
  font-size: clamp(14px, 0.811rem + 0.26vw, 18px);
  font-weight: 500;
  line-height: 150%;

  &:hover {
    color: $colorWhite;
  }
}
