.genres__item {
  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;

  box-sizing: border-box;
  border: 1px solid $colorBlack-15;
  border-radius: 12px;
  background: $colorBlack-10;

  padding: clamp(20px, 1.091rem + 0.65vw, 30px);
  padding-bottom: clamp(40px, 2.181rem + 1.31vw, 60px);

  img {
    width: 100%;
    border-radius: 10px;
  }

  cursor: pointer;

  &:hover .genres__item_wrapper {
    bottom: 40px;
  }
}

.genres__item_wrapper {
  position: absolute;

  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: 0 30px;

  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 5;

  display: flex;

  transition: all 0.2s linear;
}
.genres__item_wrapper_isTop {
  align-items: end;
}
.genres__item_icon {
  height: 30px;
  width: 30px !important;
}

.genres__item_title {
  font-size: clamp(14px, 0.811rem + 0.26vw, 18px);
  font-weight: 600;
  line-height: 150%;
}

.trending__item_image {
  object-fit: cover;
}

.genres__item_fade {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
}

.genres__item_wrapper_top {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.genres__item_top {
  padding: 5px;
  border-radius: 5px;
  background: $colorRed-45;

  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}
