.must {
  box-sizing: border-box;
  border: 1px solid $colorBlack-15;
  border-radius: 12px;
  background: $colorBlack-10;

  padding: clamp(12px, 0.089rem + 1.29vw, 20px);

  display: flex;
  flex-direction: column;
  row-gap: clamp(12px, 0.089rem + 1.29vw, 20px);
}

.must__image {
  height: clamp(235px, 1.048rem + 26.61vw, 400px);

  img {
    object-fit: cover;
    height: 100%;
    border-radius: 12px;
    width: 100%;
  }
}

.must__info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    box-sizing: border-box;
    border: 1px solid $colorBlack-15;
    border-radius: 51px;
    background: $colorBlack-08;

    padding: 6px 10px;

    color: $colorGrey-60;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
  }
}
