.footer {
  padding: 100px 0 50px;
  margin-top: 100px;
  background: $colorBlack-06;
}

.footer__row {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer__wrapper {
  margin-top: 100px;
  padding-top: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid $colorBlack-15;
}
.footer__wrapper_copyright {
  color: $colorGrey-60;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.footer__wrapper_info {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.footer__wrapper_item {
  color: $colorGrey-60;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
