.footer {
  padding: clamp(50px, 2.328rem + 3.27vw, 100px) 0 clamp(20px, 0.772rem + 1.96vw, 50px);
  margin-top: clamp(80px, 4.681rem + 1.31vw, 100px);
  background: $colorBlack-06;
}

.footer__row {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer__wrapper {
  margin-top: clamp(50px, 2.328rem + 3.27vw, 100px);
  padding-top: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid $colorBlack-15;
}
.footer__wrapper_copyright {
  color: $colorGrey-60;
  font-size: clamp(14px, 0.811rem + 0.26vw, 18px);
  font-weight: 400;
  line-height: 150%;
}
.footer__wrapper_info {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.footer__wrapper_item {
  color: $colorGrey-60;
  font-size: clamp(14px, 0.811rem + 0.26vw, 18px);
  font-weight: 400;
  line-height: 150%;
}

@media screen and (max-width: 1200px) {
  .footer__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }
}

@media screen and (max-width: 800px) {
  .footer__row {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
  }
}
