.plan {
  margin-top: clamp(80px, 3.885rem + 4.58vw, 150px);
}

.plan__text {
  display: flex;
  flex-direction: column;

  margin-bottom: clamp(40px, 1.863rem + 2.61vw, 80px);
}
.plan__text_top {
  margin-bottom: clamp(8px, 0.404rem + 0.39vw, 14px);
}
.plan__text_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plan__text_toggler {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid $colorBlack-15;
  border-radius: 10px;
  background: $colorBlack-06;

  padding: clamp(8px, 0.468rem + 0.13vw, 10px);
}
.plan__text_toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: clamp(12px, 0.718rem + 0.13vw, 14px)
    clamp(20px, 1.186rem + 0.26vw, 24px);

  border-radius: 10px;

  color: $colorGrey-60;
  font-size: clamp(14px, 0.811rem + 0.26vw, 18px);
  font-weight: 500;
  line-height: 150%;

  &:hover {
    background: $colorBlack-12;
    color: $colorWhite;
  }
}
.plan__wrapper {
  position: relative;
  overflow: hidden;
}
.plan__grid_year {
  position: absolute;
  left: 0;
  top: -100%;
}
.plan__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: clamp(20px, 1.091rem + 0.65vw, 30px);
}
.plan__text_toggle-button-active {
  background: $colorBlack-12;
  color: $colorWhite;
}
.showSecondPlan {
  animation: showSecondPlan 0.4s ease-out forwards;
}
.hideSecondPlan {
  animation: hideSecondPlan 0.4s ease-out forwards;
}

@media screen and (max-width: 1250px) {
  .plan__grid {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .plan__text_bottom {
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
  }
}
