.trial {
  margin-top: clamp(80px, 3.885rem + 4.58vw, 150px);
}
.trial__wrapper {
  position: relative;
  border-radius: 12px;

  padding: clamp(50px, 2.328rem + 3.27vw, 100px)
    clamp(30px, 1.078rem + 3.27vw, 80px);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trial__wrapper_background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;

  border-radius: 12px;

  z-index: -2;
}
.trial__wrapper_fade {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;

  border-radius: 12px;

  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .trial__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 10px;
  }
}
