body {
  font-family: $manrope;
  font-size: 16px;
  overflow-x: hidden !important;
  background: $colorBg;
  color: $colorWhite;
}

a {
  transition: color 0.2s linear;

  &:hover {
    // color: $fff;
  }
}

.none {
  display: none !important;
}

.container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  column-gap: 4px;
  padding: 15px 24px;
  border-radius: 8px;
  font-size: clamp(14px, 0.843rem + 0.13vw, 16px);

  transition: transform 0.1s linear;

  &:hover {
    transform: scale(1.03);
  }
}

.common__wrapper_buttons {
  display: flex;
  align-items: center;
  column-gap: 100px;

  width: fit-content;
  height: fit-content;

  padding: 16px;

  box-sizing: border-box;
  border: 1px solid $colorBlack-12;
  border-radius: 12px;
  background: $colorBlack-06;
}

.common__wrapper_button {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border: 1px solid $colorBlack-12;
  border-radius: 8px;
  background: $colorBlack-10;

  padding: 14px;
}

.wrapper__movies {
  position: relative;

  box-sizing: border-box;
  border: 1px solid $colorBlack-15;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  row-gap: clamp(50px, -1.008rem + 8.06vw, 100px);

  padding: 50px;

  &::before {
    position: absolute;
    content: "Movies";
    padding: 10px 24px;

    left: 50px;
    top: -20px;

    background: $colorRed-45;
    border-radius: 8px;
  }
}

.wrapper__shows {
  position: relative;

  box-sizing: border-box;
  border: 1px solid $colorBlack-15;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  row-gap: clamp(50px, -1.008rem + 8.06vw, 100px);

  padding: 50px;

  margin-top: clamp(80px, 3.375rem + 6.67vw, 150px);

  &::before {
    position: absolute;
    content: "Shows";
    padding: 10px 24px;

    left: 50px;
    top: -20px;

    background: $colorRed-45;
    border-radius: 8px;
  }
}

.genres_movies {
  margin-top: unset !important;
}

.subtitle {
  color: $colorGrey-60;
  font-size: clamp(14px, 0.811rem + 0.26vw, 18px);
  font-weight: 400;
  line-height: 150%;
}

.title1 {
  font-size: clamp(28px, 1.272rem + 1.96vw, 58px);
  font-weight: 700;
  line-height: 150%;
  text-align: center;
}

.title2 {
  font-size: clamp(24px, 1.118rem + 1.57vw, 48px);
  font-weight: 700;
  line-height: 150%;
}

.title3 {
  font-size: clamp(24px, 1.277rem + 0.92vw, 38px);
  font-weight: 700;
  line-height: 150%;
}

.title4 {
  font-size: clamp(18px, 1.029rem + 0.39vw, 24px);
  font-weight: 600;
  line-height: 150%;

  &_plan {
    font-weight: 700;
  }
}

@media screen and (max-width: 820px) {
  .wrapper__movies,
  .wrapper__shows {
    position: unset;
    border: unset;
    padding: unset;

    &::before {
      display: none;
    }
  }

  .wrapper__movies_title,
  .wrapper__shows_title {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .common__wrapper_buttons {
    display: none;
  }
}
