/*FONTS*/

$manrope: "Manrope", serif;

/*FONTS*/

/*COLORS*/

$colorWhite: #fff;
$colorBlack: #000;
$colorBg: #141414;

$colorBlack-12: rgb(31, 31, 31);
$colorBlack-06: rgb(15, 15, 15);
$colorBlack-10: rgb(26, 26, 26);
$colorBlack-15: rgb(38, 38, 38);
$colorBlack-08: rgb(20, 20, 20);

$colorGrey-75: rgb(191, 191, 191);
$colorGrey-60: rgb(153, 153, 153);

$colorRed-45: rgb(230, 0, 0);

/*COLORS*/

/*MEDIA*/

$largeTablet: 1440px;
$tablet: 1000px;
$semiTablet: 630px;
$phone: 320px;

/*MEDIA*/
